// Place all the styles related to the Owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#owners h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0px 0px;
}